** 1. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. **

In [1]:
import pandas as pd
dr = pd.date_range(start='01-01-2015',end='31-12-2015',freq='B')
dr

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [2]:
import numpy as np
s = pd.Series(np.random.random(dr.size),index=dr)

In [3]:
sales = pd.DataFrame(s,columns=['S'])

In [4]:
sales.head()

                   S
2015-01-01  0.594038
2015-01-02  0.836240
2015-01-05  0.573577
2015-01-06  0.900061
2015-01-07  0.558161

** 2. Find the sum of the values in s for every Wednesday **

In [9]:
sales[dr.weekday == 2].sum()

S    25.020228
dtype: float64

** 3. Average For each calendar month **

In [10]:
sales.resample('M').mean()

                   S
2015-01-31  0.591418
2015-02-28  0.544709
2015-03-31  0.496306
2015-04-30  0.407652
2015-05-31  0.547543
2015-06-30  0.447861
2015-07-31  0.486677
2015-08-31  0.416144
2015-09-30  0.583150
2015-10-31  0.470820
2015-11-30  0.467883
2015-12-31  0.424946

** 4. For each group of four consecutive calendar months in s, find the date on which the highest
value occurred **

In [20]:
sales.groupby(pd.Grouper(freq='4M')).idxmax()

                    S
2015-01-31 2015-01-06
2015-05-31 2015-03-03
2015-09-30 2015-09-09
2016-01-31 2015-10-05